.form-container {
  padding: 1.5rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control, .form-select {
  padding: 0.75rem 1.25rem;
}