# src/main/resources/application.yml
server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tienda_saas
    username: root
    password: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: mi-clave-secreta-muy-larga-y-segura-1234567890abcdef
  expiration: 86400000 # 24 horas

app:
  frontend-url: http://localhost:4200